# server
APP_HOST=0.0.0.0
APP_PORT=8050
DASH_DEBUG=0        # 1=dev(Dash debug/reload), 0=product(close)

# 数据/算法参数
FS_PPG=400          
PPI_MIN_MS=300
PPI_MAX_MS=2000
DEDUPLICATE_MS=      # [empty]/20/30

# hrv parameters
HRV_APPLY_QUOTIENT=1
HRV_THRESHOLD_STRENGTH=medium   # very_low|low|medium|strong|very_strong
HRV_LOCAL_MEDIAN_SIZE=5

# hrvanalysis parameters
HRVA_ECTOPIC_METHOD=malik
HRVA_INTERP_METHOD=linear       # linear|cubic 等

# hrv fre-domain parameters
FS_RRI=4.0        # RRi resample fre
