#datasets
/train_labeled
/train_raw
/train_val
/train_window
/datasets
/physionet.org
/Literature

/final_v0/final_pipeline_v2/artifacts
data/*
*.zip
*.mp4
*.h5
*.pt


#trash
.venv
__pycache__
.ipynb_checkpoints

#env
.env
*.pem
*.key
*.Identifier
