#datasets
/train_labeled
/train_raw
/train_val
/train_window
/datasets
/physionet.org
/Literature

data/*
*.zip
*.mp4
*.h5
*.pt


#trash
.venv/
__pycache__/
.ipynb_checkpoints/

#env
.env
.env.*
*.pem
*.key
